{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="esp-bloq"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    	<div class="col-md-10 offset-md-1  col-sm-8 offset-sm-2 col-10 offset-1 text-center">
        	<h3>Departamento <span class="badge badge-secondary">Nuevo</span></h3><br>
            <div class="form-horizontal">
                {{form_start(form, { 'enctype':"multipart/form-data"})}}
                    	<div class ="form-group row" style="display:none">
                    	    {{ form_widget(form.id,{'attr':{'class':'form-control','placeholder':'', 'id':"id"}} ) }}
                    	</div>
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label text-right">Nombre:</label>
                            <div class="col-sm-9">
                       			{{ form_widget(form.nombre,{'attr':{'class':'form-control','placeholder':'Ingrese un nombre', 'id':"nombre"}} ) }}
                    		</div>
                		</div>
                		<div class="form-group row">
                            <label for="ubicacion" class="col-sm-2 col-form-label text-right">Ubicacion:</label>
                            <div class="col-sm-9">
                       			{{ form_widget(form.ubicacion,{'attr':{'class':'form-control','placeholder':'Ingrese una ubicacion', 'id':"ubicacion"}} ) }}
                    		</div>
                		</div>
                        <div class="form-group row">
                        	<label for="descripcion" class="col-sm-2 col-form-label text-right">Descripcion:</label>
                        	<div class="col-sm-9">
                        	    {{ form_widget(form.descripcion,{'attr':{'class':'form-control','placeholder':'Ingrese una descripcion', 'id':"descripcion"}} ) }}
                        	</div>
                        </div>
                        <div class="form-group row">
                        	<label for="imagen" class="col-sm-2 col-form-label text-right">Imagen:</label>
                        	<div class="col-sm-9">
                                {{ form_widget(form.imagen,{'attr':{'class':'form-control-file','placeholder':'Seleccione una imagen', 'id':"imagen"}} ) }}
                        	</div>
                        </div>
                        <div class="form-group row">
                        	<label for="estado" class="col-sm-2 col-form-label text-right">Estado:</label>
                        	<div class="col-sm-4">
                        	    {{ form_widget(form.estado,{'attr':{'class':'form-control'}} ) }}
                        	</div>
                        </div>
                 
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">
                            	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                            </div>
                        </div> 
                    {{ form_end(form) }}
            </div>
    	</div>   
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="esp-bloq"></div>
        </div>
    </div>
</div>
{% endblock %}